{% extends "base.html" %}

{% block content %}
  {{ super() }}
{% endblock %}

{% block footer %}
<footer>
    <div>
        <div class="footer-left">
            <div class="dfg-container">
                <span>Funded by</span>
                <a href="https://gepris.dfg.de/gepris/projekt/528785591" target="_blank"><img src="img/dfg_logo_schriftzug_weiss.png" alt="DFG Logo" class="dfg-logo"/></a>
                <span>Project-No.: 528785591</span>
            </div>
        </div>
        <div class="footer-right">
            <a href="https://cdmd.adwmainz.de/index.html" target="_blank">
                <img src="img/CDMD_Logo_grand_white.png" alt="CDMD Logo" class="adw-logo"/>
            </a>
            <a href="https://zenmem.uni-paderborn.de/" target="_blank">
                <img src="img/ZenMEM_weiß.png" alt="ZenMEM Logo" class="zenmem-logo"/>
            </a>
            <a href="https://www.adwmainz.de/startseite.html" target="_blank">
                <img src="img/adwlogo-weiß-transparent.png" alt="ADW Logo" class="adw-logo"/>
            </a>
        </div>
    </div>
</footer>
{% endblock %}