.bg-primary {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1 0 auto;
}

h1 {
    color: #159957;
}

h2 {
    color: #1e6bb8;
}

#navbar-collapse {
    display: flex;
    justify-content: space-between;
}

#navbar-collapse ul:first-child {
    margin-right: auto;
}

#navbar-collapse ul:last-child {
    margin-left: auto;
}

footer {
    width: 100vw;
    background-color: #157878;
    padding: 0;
    border: none;
    position: relative;
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}

.footer-left {
    flex: 1;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 50px;
}

.footer-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-center span.footer,
.dfg-container span {
    font-family: 'Palatino Linotype', sans-serif;
    font-size: 0.9rem;
}

.footer-center span.footer {
    flex: 0 1 auto;
    text-align: center;
}

.footer-right {
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 50px;
}

.dfg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.dfg-container span {
    font-size: 0.9rem;
    text-align: left;
    margin-left: 0.5rem;
}

img.dfg-logo {
    width: auto;
    height: 40px;
    margin: 0;
}

img.dfg-logo:hover {
    transform: scale(1.1);
}

img.cdmd-logo {
    width: auto;
    height: 100px;
    margin: 0;
}

img.cdmd-logo:hover {
    transform: scale(1.1);
}

img.zenmem-logo {
    width: auto;
    height: 50px;
    margin-left: auto;
    margin-top: 5px;
}

img.zenmem-logo:hover {
    transform: scale(1.1);
}

img.adw-logo {
    width: auto;
    height: 80px;
    margin: 0;
}

img.adw-logo:hover {
    transform: scale(1.1);
}

span.footer {
    margin: 0;
    font-size: var(--step-0);
    font-family: 'Palatino Linotype', sans-serif;
}
